.page {
  padding: 91px 0 88px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;

  /* Временный контур */

  border: 1px solid rgba(255, 0, 0, 0.2);
}

/* header */

.header {
  padding-inline: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 24px;

  /* Временный фон */

  /* background-color: rgba(0, 0, 0, 0.1); */
}

/* Временное, центральная линия шапки */

.header:after {
  content: "";
  width: 1px;
  height: 3000px;
  left: 50%;
  top: 0;
  position: absolute;
  background: rgba(255, 0, 0, 0.2);
  z-index: 9;
}

.menu {
  list-style: circle;
  text-transform: lowercase;
}

.header__menu {
  padding-top: 3px;
}

.header__links-list {
  display: flex;
  gap: 0 34px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom-color: transparent;
}

.logo {
  font-size: 0;
}

.header__logo {
  margin-right: 150px;
}

.header__logo-image {
  margin: 0;
  padding: 0;
  height: 105px;
}

.address {
  font-style: normal;
  line-height: 1.35;
  padding-block-start: 5px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
}

.address__link > span {
  border-bottom: 1px solid #000;
}

.header__address {
  display: flex;
  flex-direction: column;
  width: 239px;
}

/* main */

.main {

}

.cover {
  margin-block-start: 96px;
  min-height: 757px;
  position: relative;
  background: #00f url(../images/cover.jpg) no-repeat center / cover;
  z-index: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding: 164px 19px 0 50px;
  color: #fff;
  font-size: 100px;
  font-weight: bolder;
  text-transform: uppercase;
  text-indent: ellipsis;
}

.aligned-text {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 60px;
}

.aligned-text_center {
  align-self: center;
  line-height: 1.37;
  padding-inline-end: 30px;
}

.aligned-text_right {
  align-self: flex-end;
  line-height: 1.03;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* footer */
